@keyframes dropdownMobile {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes dropdownDesktop {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.nav__burger-btn {
  padding: 1em;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
}
.nav__burger-btn.active .nav__burger-btn-bar--top {
  transform: translateY(10.5px) rotate(45deg);
}
.nav__burger-btn.active .nav__burger-btn-bar--middle {
  opacity: 0;
}
.nav__burger-btn.active .nav__burger-btn-bar--bottom {
  transform: translateY(-10.5px) rotate(-45deg);
}
.nav__burger-btn-box {
  position: relative;
  width: 40px;
  height: 40px;
}
.nav__burger-btn-bar {
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  background-color: var(--blackColor);
  transition: transform 0.4s, opacity 0.4s;
}
.nav__burger-btn-bar--top {
  top: 7px;
}
.nav__burger-btn-bar--middle {
  top: 17.5px;
}
.nav__burger-btn-bar--bottom {
  top: 28px;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --whiteColor: hsl(0, 0%, 98%);
  --grayColor: hsl(0, 0%, 41%);
  --blackColor: hsl(0, 0%, 8%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Epilogue", sans-serif;
  position: relative;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}
.overlay.visible {
  display: block;
}

.nav {
  position: sticky;
  top: 0;
  background-color: var(--whiteColor);
  z-index: 1000;
}
.nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__mobile {
  padding: 2em;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: var(--whiteColor);
  list-style-type: none;
  transform: translateX(150%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5176470588);
  transition: transform 0.4s;
}
.nav__mobile.collapsed {
  transform: translateX(0);
}
.nav__logo-link {
  padding: 1em;
}
.nav__mobile-dropdown {
  list-style-type: none;
}
.nav__mobile-dropdown-li {
  display: none;
  opacity: 0;
}
.nav__mobile-dropdown-li:first-child {
  padding: 1.5em 0 0;
}
.nav__mobile-dropdown-li.active {
  display: block;
  animation: dropdownMobile 0.4s forwards;
}
.nav__mobile-dropdown-link {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: var(--grayColor);
  font-weight: 500;
  padding: 0.7em 2em;
  transition: color 0.3s;
}
.nav__mobile-dropdown-link:hover {
  color: var(--blackColor);
}
.nav__mobile-dropdown-icon {
  margin-inline-end: 1em;
  vertical-align: middle;
}
.nav__mobile-li {
  padding: 1em;
  font-size: 1.6rem;
}
.nav__mobile-li:nth-child(5) {
  padding: 0;
  align-self: center;
  margin-block-start: 1em;
}
.nav__mobile-li:nth-child(5) .nav__mobile-link {
  display: block;
  padding: 1em 2em;
}
.nav__mobile-li:nth-child(6) {
  width: 100%;
  padding: 0;
  align-self: center;
}
.nav__mobile-li:nth-child(6) .nav__mobile-link {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 80%;
  padding: 1em 2em;
  border: 2px solid var(--grayColor);
  border-radius: 20px;
  transition: color 0.3s, background-color 0.3s;
}
.nav__mobile-li:nth-child(6) .nav__mobile-link:hover {
  background-color: var(--blackColor);
  color: var(--whiteColor);
  border: 2px solid var(--blackColor);
}
.nav__mobile-li .dropdown-arrow {
  font-size: 1.3rem;
  vertical-align: middle;
  margin-inline-start: 0.8em;
  transition: transform 0.2s;
}
.nav__mobile-li .dropdown-arrow.rotated {
  transform: rotate(180deg);
}
.nav__mobile-link {
  text-decoration: none;
  color: var(--grayColor);
  font-weight: 500;
  transition: color 0.3s;
}
.nav__mobile-link:hover {
  color: var(--blackColor);
}
.nav__desktop {
  display: none;
}

.header {
  padding: 2em 0;
  height: 100vh;
  text-align: center;
}
.header__img-desktop-visible {
  display: none;
}
.header__img {
  width: 100%;
  height: auto;
}
.header__content {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__title {
  margin-block-start: 0.5em;
  font-size: 3rem;
}
.header__text {
  margin: 1em 0 1.5em;
  font-size: 1.3rem;
  color: var(--grayColor);
  line-height: 20px;
  font-weight: 500;
}
.header__btn {
  padding: 0.9em 1.8em;
  border-radius: 15px;
  border: none;
  background-color: var(--blackColor);
  color: var(--whiteColor);
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 1.4rem;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(46, 46, 46, 0.1803921569);
  transition: background 0.3s, border 0.3s, color 0.3s;
}
.header__btn:hover {
  background: none;
  color: var(--blackColor);
  border: 1px solid var(--blackColor);
}
.header__logos {
  width: 100%;
  margin-block-start: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: block;
  width: 20%;
  max-width: 100px;
}

@media (350px <= width) {
  .nav__mobile {
    width: 300px;
    left: unset;
    right: 0;
  }
}
@media (576px <= width) {
  .header__title {
    font-size: 4rem;
  }
  .header__text {
    font-size: 1.8rem;
  }
  .header__btn {
    font-size: 1.6rem;
  }
}
@media (700px <= width) {
  .overlay.visible {
    display: none;
  }
  .nav {
    padding: 1em;
  }
  .nav__mobile {
    display: none;
  }
  .nav__burger-btn {
    display: none;
  }
  .nav .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .nav__desktop {
    width: 100%;
    margin-inline-start: 2em;
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  .nav__desktop-li {
    display: inline-block;
    position: relative;
  }
  .nav__desktop-li:hover .nav__desktop-dropdown-li {
    display: block;
    animation: dropdownDesktop 0.4s forwards;
  }
  .nav__desktop-li:hover .dropdown-arrow {
    transform: rotate(180deg);
  }
  .nav__desktop-li:hover .nav__desktop-dropdown-li:nth-child(2) {
    animation-delay: 0.1s;
  }
  .nav__desktop-li:hover .nav__desktop-dropdown-li:nth-child(3) {
    animation-delay: 0.2s;
  }
  .nav__desktop-li:hover .nav__desktop-dropdown-li:nth-child(4) {
    animation-delay: 0.3s;
  }
  .nav__desktop-li:nth-child(5) {
    margin-inline-start: auto;
    margin-inline-end: 1em;
  }
  .nav__desktop-li:nth-child(6) {
    border: 2px solid var(--grayColor);
    border-radius: 15px;
    transition: border 0.3s;
  }
  .nav__desktop-li:nth-child(6):hover {
    border: 2px solid var(--blackColor);
  }
  .nav__desktop-link {
    padding: 0.8em 1em;
    display: inline-block;
    text-decoration: none;
    color: var(--grayColor);
    font-size: 1.4rem;
    font-weight: 500;
    transition: color 0.3s;
  }
  .nav__desktop-link .dropdown-arrow {
    font-size: 1rem;
    transition: transform 0.2s;
    vertical-align: middle;
  }
  .nav__desktop-link:hover {
    color: var(--blackColor);
  }
  .nav__desktop-dropdown {
    position: absolute;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(46, 46, 46, 0.1803921569);
    border-radius: 10px;
    background-color: var(--whiteColor);
    overflow: hidden;
  }
  .nav__desktop-dropdown--first {
    left: -4em;
  }
  .nav__desktop-dropdown--second {
    right: -1em;
    width: 100%;
  }
  .nav__desktop-dropdown-li {
    display: none;
    opacity: 0;
  }
  .nav__desktop-dropdown-li:first-child {
    padding-block-start: 2em;
  }
  .nav__desktop-dropdown-li:last-child {
    padding-block-end: 2em;
  }
  .nav__desktop-dropdown-link {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: var(--grayColor);
    font-weight: 500;
    padding: 1em;
    font-size: 1.4rem;
    transition: color 0.3s;
  }
  .nav__desktop-dropdown-link:hover {
    color: var(--blackColor);
  }
  .header {
    padding: 5em 0;
    display: flex;
    justify-content: space-between;
  }
  .header__img-mobile-visible {
    display: none;
  }
  .header__img-desktop-visible {
    width: 40%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    order: 1;
  }
  .header__content {
    height: 100%;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    gap: 1em;
    align-self: center;
  }
  .header__title {
    font-size: 4.5rem;
    margin: 0;
  }
  .header__text {
    margin: 1.5em 0;
  }
  .header__btn {
    font-size: 1.7rem;
  }
}
@media (992px <= width) {
  .nav {
    padding: 2em;
  }
  .nav__desktop-link {
    font-size: 1.6rem;
  }
  .nav__desktop {
    gap: 2em;
    margin-inline-start: 5em;
  }
  .nav__desktop-dropdown-link {
    padding: 0.8em 1.5em;
  }
  .header__title {
    font-size: 6rem;
  }
  .header__text {
    font-size: 2rem;
    line-height: 25px;
  }
  .header__content {
    justify-content: flex-end;
  }
  .header__logos {
    margin-block-start: 10em;
  }
}
@media (1100px <= width) {
  .header__title {
    font-size: 7.2rem;
  }
  .header__content {
    width: 40%;
  }
  .header__img-desktop-visible {
    width: 50%;
  }
  .header__btn {
    font-size: 1.9rem;
  }
}/*# sourceMappingURL=style.css.map */