@use './_animations' as *;
@use './_components' as *;

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --whiteColor: hsl(0, 0%, 98%);
    --grayColor: hsl(0, 0%, 41%);
    --blackColor: hsl(0, 0%, 8%);
}

html {
    font-size: 62.5%;
}


body {
    font-family: 'Epilogue', sans-serif;
    position: relative;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;

    &.visible {
        display: block;
    }
}

.nav {
    position: sticky;
    top: 0;
    background-color: var(--whiteColor);
    z-index: 1000;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__mobile {
        padding: 2em;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: 100%;
        inset: 0;
        background-color: var(--whiteColor);
        list-style-type: none;
        transform: translateX(150%);
        box-shadow: 5px 5px 10px #00000084;
        transition: transform .4s;

        &.collapsed {
            transform: translateX(0);
        }
    }

    &__logo-link {
        padding: 1em;
    }

    // dropdown

    &__mobile-dropdown {
        list-style-type: none;
    }
    &__mobile-dropdown-li {
        display: none;
        opacity: 0;

        &:first-child {
            padding: 1.5em 0 0;
        }


        &.active {
            display: block;
            animation: dropdownMobile .4s forwards;
        }
    }
    &__mobile-dropdown-link {
        display: flex;
        justify-content: flex-start;
        text-decoration: none;
        color: var(--grayColor);
        font-weight: 500;
        padding: .7em 2em;
        transition: color .3s;

        &:hover {
            color: var(--blackColor);
        }

    }
    &__mobile-dropdown-icon {
        margin-inline-end: 1em;
        vertical-align: middle;
        
    }


// dropdown
    &__mobile-li {
        padding: 1em;
        font-size: 1.6rem;
  

        &:nth-child(5) {
            padding: 0;
            align-self: center;
            margin-block-start: 1em;

            .nav__mobile-link {
                display: block;
                padding: 1em 2em; 
            }
        }
        &:nth-child(6) {
            width: 100%;
            padding: 0;
            align-self: center;


            .nav__mobile-link {
                text-align: center;
                margin: 0 auto;
                display: block;
                width: 80%;
                padding: 1em 2em; 
                border: 2px solid var(--grayColor);
                border-radius: 20px;
                transition: color .3s, background-color .3s;
                

                &:hover {
                    background-color: var(--blackColor);
                    color: var(--whiteColor);
                    border: 2px solid var(--blackColor);
                }
            }
        }

        .dropdown-arrow {
            font-size: 1.3rem;
            vertical-align: middle;
            margin-inline-start: .8em;
            transition: transform .2s;

            &.rotated {
                transform: rotate(180deg);
            }
        }
    }
    &__mobile-link {
        text-decoration: none;
        color: var(--grayColor);
        font-weight: 500;

        transition: color .3s;

        &:hover {
            color: var(--blackColor);
        }
    }




    &__desktop {
        display: none;
    }
}




// HEADER 

.header {
    padding: 2em 0;
    height: 100vh;
    text-align: center;

    &__img-desktop-visible {
        display: none;
    }

    &__img {
        width: 100%;
        height: auto;
    }
    &__content {
        padding: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        margin-block-start: .5em;
        font-size: 3rem;
    }
    &__text {
        margin: 1em 0 1.5em;
        font-size: 1.3rem;
        color: var(--grayColor);
        line-height: 20px;
        font-weight: 500;
    }
    &__btn {
        padding: .9em 1.8em;
        border-radius: 15px;
        border: none;
        background-color: var(--blackColor);
        color: var(--whiteColor);
        border: 1px solid transparent;
        font-weight: 700;
        font-size: 1.4rem;
        cursor: pointer;
        box-shadow: 3px 3px 5px #2e2e2e2e;
        transition: background .3s, border .3s, color .3s;

        &:hover {
            background: none;
            color: var(--blackColor);
            border: 1px solid var(--blackColor);
        }
    }
    &__logos {
        width: 100%;
        margin-block-start: 4em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: block;
        width: 20%;
        max-width: 100px;
    }
}



@media(350px <= width) {
    .nav {
        &__mobile {
            width: 300px;
            left: unset;
            right: 0;
        }
    }
}

@media(576px <= width) {
    .header {
        &__title {
            font-size: 4rem;
        }
        &__text {
            font-size: 1.8rem;
        }
        &__btn {
            font-size: 1.6rem;
        }
    }
}

@media(700px <= width) {
    .overlay.visible {
        display: none;
    }
    .nav {
        padding: 1em;
        &__mobile {
         display: none;
        }
        &__burger-btn {
            display: none;
        }
   
        .wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    
        &__desktop {
            width: 100%;
            margin-inline-start: 2em;
            display: flex;
            align-items: center;
            list-style-type: none;
        }
        &__desktop-li {
            display: inline-block;
            position: relative;


            &:hover .nav__desktop-dropdown-li{
                display: block;
                animation: dropdownDesktop .4s forwards;
            }
            &:hover  .dropdown-arrow {
                transform: rotate(180deg);
            }
            &:hover .nav__desktop-dropdown-li:nth-child(2){
                animation-delay: .1s;
            }
            &:hover .nav__desktop-dropdown-li:nth-child(3){
                animation-delay: .2s;
            }
            &:hover .nav__desktop-dropdown-li:nth-child(4){
                animation-delay: .3s;
            }
      

            &:nth-child(5) {
                margin-inline-start: auto;
                margin-inline-end: 1em;
            }
            &:nth-child(6) {
                border: 2px solid var(--grayColor);
                border-radius: 15px;
                transition: border .3s;

                &:hover {
                    border: 2px solid var(--blackColor);
                }
            }
        }
        &__desktop-link {
            padding: .8em 1em;
            display: inline-block;
            text-decoration: none;
            color: var(--grayColor);
            font-size: 1.4rem;
            font-weight: 500;
            transition: color .3s;

            .dropdown-arrow {
                font-size: 1rem;
                transition: transform .2s;
                vertical-align: middle;
            }

            &:hover {
                color: var(--blackColor);
            }

        }


        // dropdown

        &__desktop-dropdown {
            position: absolute;
            list-style-type: none;
            box-shadow: 0 0 10px #2e2e2e2e;
            border-radius: 10px;
            background-color: var(--whiteColor);
            overflow: hidden;

            &--first {
                left: -4em;
            }
            &--second {
                right: -1em;
                width: 100%;
            }
       
        }
        &__desktop-dropdown-li {
            display: none;
            opacity: 0;


            
            &:first-child {
                padding-block-start: 2em;
            }
            &:last-child {
                padding-block-end: 2em;
            }

        }
        &__desktop-dropdown-link {
            width: 100%;
            display: inline-block;
            text-decoration: none;
            color: var(--grayColor);
            font-weight: 500;
            padding: 1em;
            font-size: 1.4rem;
            transition: color .3s;

            &:hover {
                color: var(--blackColor);
            }
        }
    }


    .header {
      padding: 5em 0;
      display: flex;
      justify-content: space-between;

      &__img-mobile-visible {
        display: none;
      }
      &__img-desktop-visible {
        width: 40%;
        height: auto;
        object-fit: cover;
        display: block;
        order: 1;
      }
      &__content {
        height: 100%;
        text-align: left;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        gap: 1em;
        align-self: center;
      }

      &__title {
        font-size: 4.5rem;
        margin: 0;
      }
      &__text {
        margin: 1.5em 0;
      }
      &__btn {
        font-size: 1.7rem;
      }

    }
}


@media(992px <= width) {
    .nav {
        padding: 2em;
        &__desktop-link {
            font-size: 1.6rem;
        }

           
        &__desktop {
            gap: 2em;
            margin-inline-start: 5em;
        }
        &__desktop-dropdown-link {
            padding: 0.8em 1.5em;
        }
    }

    .header {
        &__title {
            font-size: 6rem;
        }
        &__text {
            font-size: 2rem;
            line-height: 25px;
        }
        &__content {
            justify-content: flex-end;
        }
        &__logos {
            margin-block-start: 10em;
        }
    }
}


@media(1100px <= width) {
    .header {
        &__title {
            font-size: 7.2rem;
        }
        &__content {
            width: 40%;
        }
        &__img-desktop-visible {
            width: 50%;
        }
        &__btn {
            font-size: 1.9rem;
        }
    }
}